body{
    background-color:#cfcfcf;
    font-family:sans-serif;
    padding:0;
    margin:0;
    font-size:100%;
}
table, td {
    border-radius:8px;
}
code {
    color:#00f; font-weight:bold;
}
kbd {
    padding:1px 5px; background:#ddd;
    display: inline-block;
    border-left:1px solid #aaa;
    border-top:1px solid #aaa;
    border-bottom:1px solid black;
    border-right:1px solid black;
}
li {
    line-height:150%;
}
h1 { font-size: 2rem; }
h2 { font-size: 1.7rem; }
h3 { font-size: 1.1rem; }
p, li, code { font-size: 0.8rem; }
img { border: 0; }

a:link {
   color:blue;
}
a:visited {
   color:#555;
}
a:hover {
   color:red;
}
*::-moz-selection {
   background-color:rgb(170,210,244);
   color:black;
   text-shadow:none;
}
a::-moz-selection {
   background-color:rgb(160,195,224);
   text-shadow:none;
}
a:hover::-moz-selection {
   background-color:white;
   color:black;
   text-shadow:none;
}
a:active::-moz-selection {
   background-color:violet;
}

.entryBlock.centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

#main {
    padding: 10px;
    overflow: auto;
    margin: 0 auto 50px;
    max-width: 1000px;
}

   h1.clear {
      clear: both;
      margin: 0 40px;
      color: #999;
      background-color: #760454;
      border-radius: 0 10px 0 10px;
      margin: 0;
      padding: 0 50px;
   }

   .entryBlock {
    width: 96%;
    margin: 2%;
    border: 0;
    float:left;
    border-radius: 10px;
    background-color: #f0f0f0;
   }
      .entryBlockInner {
        padding: 1px 13px;
      }
      .entryBlockInnerPadding {
        padding: 13px;
      }
   .entryBlockDouble {
    width: 95%;
   }


   #about {
    background-color: #333;
    color: #fff;
   }
   #about a:link {
    color: yellow;
   }
   #about a:visited{
    color: #99f;
   }
   #about a:hover{
    color: #f00;
   }
#bottomBar {
    background-color: #333;
    padding:10px;
    color: #fff;
}
#bottomBar a {
    color:#fdd;
}

.linkroll {
    float: right;
    display: block;
    clear: both;
    background-color: #666;
    width: 330px;
    max-width: 95%;
    padding-left: 10px;
    border-radius: 5px;
}
.linkroll > li {
    display: list-itrem;
    float: left;
    margin-left: 20px;
}
.linkroll a {
    color: #ccc !important;
}
.hello {
    display: inline-block;
    clear: both;
    margin-bottom:0;
}

img.bordered {
    border: 1px solid black;
    padding:2px;
    border-radius: 4px;
}

.bigbig { font-size: 30pt; margin: 0; }
.big    { font-size: 22pt; margin: 0; }

iframe.ghstar {
    border: 0;
    width: 5rem;
    height: 1.5rem;
    float: right;
    clear: both;
}

@media (max-width: 700px) {
    h3 { font-size: 1.3rem; }
    p, li, code { font-size:1.2rem; }
    li { line-height:180%; }
    .entryBlock { width: 95%; }
    .bigbig { font-size: 22pt; margin: 0; }
    .big    { font-size: 18pt; margin: 0; }
    .hello { display: none; }
    .hello2 { clear:both; }
}